/* Main parameters */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: 0 !important;
    text-decoration: none !important;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* input[type=number] {
    -moz-appearance: textfield;
} */
.btn-default {
    position: relative;
    color: white;
    background: var(--main-color);
    padding: 10px 40px 10px 40px;
    margin-top: 1vh;
    transition: .4s; 
}
.btn-default:hover {
    background: #5140d4;
    color: white;
    padding: 10px 60px 10px 60px;
}
/* Main parameters */

/* Fonts */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* Fonts */

/* Go to top button */
#go2Top {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    outline: none;
    line-height: 40px;
    transition-duration: 0.6s;
    display: flex;
    justify-content: center;
    opacity: 0;
}
#go2Top:hover {
    line-height: 20px !important;
}
/* Go to top button */

/* Scrollbar */
::-webkit-scrollbar{
    width: 10px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-track {
    background-color: var(--bg);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2;
}
/* Scrollbar */

/* Navbar/menu górne */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: linear-gradient(to right, #1a1a3d, #2b2b5e);
  width: 100%;
  padding: 20px;
  z-index: 9999;
  transition: .3s linear;
  height: 8vh;
  border-bottom: var(--border);
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-title {
  color: #fff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

/* Menu boczne */
.navbar-menu {
  position: fixed;
  height: 100vh;
  width: 85%;
  background-color: #1b1b2f;
  top: 0;
  left: -100%;
  max-width: 400px;
  padding: 80px 20px;
  transition: .3s ease-out;
  z-index: 999;
}

.navbar-menu a {
  display: block;
  font-size: 18px;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 12px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.3s ease;
}

.navbar-menu a:not(.active):hover {
  color: #00ff99;
  background-color: rgba(0, 255, 153, 0.1);
}

.navbar-menu a.active {
  background-color: #114d4d;
  color: #00ff99;
}

.navbar-menu a:focus,
.navbar-menu a:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-menu.active {
  left: 0;
}

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 1000;
  display: block;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.menu-toggler.active span:nth-child(1) {
  transform: rotate(-45deg);
  top: 4px;
}

.menu-toggler.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggler.active span:nth-child(3) {
  transform: rotate(45deg);
  bottom: 14px;
}

.steam-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  padding: 12px 20px;
  border: 2px solid #00ff99;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.steam-button:hover {
  background-color: #00ff99;
  color: #000;
}

/* Overlay gdy menu otwarte */
.black-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}
/* Overlay gdy menu otwarte */

/* Menu */

/* Strona główna info */
.main-info {
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #10142A, #1B2040);
  height: 100vh;
}
.matchscore-container {
  padding: 2%;
  height: 30vh;
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  background-color:rgba(255, 255, 255, 0.493);
}

.matchscore-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(35%);
  z-index: 0;
}

.teams-name {
  color: white;
  position: relative;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.match-mode {
  color: white;
  position: relative;
}
.match-result {
  color: white;
  position: relative;
  font-size: bold;
  font-size: 60px;
}
/* Strona główna info */